@tailwind base;
@tailwind components;
@tailwind utilities;


.map-container {
    height: 800px;
    width: 600px;
    display: block;
}

body { margin: 0; padding: 0; }

#map { position: absolute; top: 100px; left: 590px; }

html, body {
    width: 100%;
    height:100%;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
