@tailwind base;
@tailwind components;
@tailwind utilities;


.map-container {
    height: 800px;
    width: 600px;
    display: block;
}

body { margin: 0; padding: 0; }

#map { position: absolute; top: 100px; left: 50%; }
